.container{
    width: 100%;
    height: 100%;

    .title_page{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .title_text{
            font-family: "Bosch_Sans_Bold";
            font-size: 22px;
            text-align: center;
        }
    }

    .legenda{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20vh;
        background-color: blue;

        .line_legenda{
            flex-direction: row;
            display: flex;
            
            .color{
                width: 5vh;
                height: 5vh;
                background-color: red;
                margin-right: 5px;
            }


        }

    }

    .map{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .line_machines{
            width: 90%;
            height: auto;
            //background-color: red;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;

            .machine_on{
                width: 30vh;
                height: 25vh;
                background-color: var(--yellow);
                margin: 2%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .machine_off{
                width: 30vh;
                height: 25vh;
                background-color: var(--gray);
                margin: 2%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

    }


}